.levelSelectTile {
  display: grid;
  margin: auto;
  margin-top: 3vh;
  min-width: 300px;
  background-color:  #e7e7e7;
  box-shadow: 10px 10px 10px #5C5470;
}

.levelTitle {
  font-size: calc(12px + 1.5vmin);
  height: 5vh;
}

.levelPreviewImageContainer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.levelPreviewImage {
  max-height: 60vh;
  object-fit: contain;
}.levelPreviewImage:hover{
  opacity: 0.9;
}

.levelSelectButton {
  width: 100%;
  height: 5vh;
  border: none;
  font-size: calc(12px + 0.5vmin);
  background-color:  #e7e7e7;

} .levelSelectButton:hover {
  background-color: #DBD8E3;
}