#dropdownTitle {
  margin: 1vw;
  font-size: calc(10px + 1.5vmin);
  color: #282c34;
}

#targetImages {
  margin-bottom: 2vw;
}

#targetImagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.targetInfoContainer {
  width: 30vw;
  margin: auto;
}

.targetImage {
  width: 30vw;
  max-height: 20vh;
  object-fit: contain;
}

.targetName {

}