#targetImagesContainer {

}

#targetsTitle {
  margin: 1vw;
  font-size: calc(10px + 1.5vmin);
  color: #282c34;
}

#targetImages {
  margin-bottom: 2vw;
}

.targetImage {
  object-fit: contain;
  max-width: 31.5vw;
}