.header {
  background-color: #282c34;
  height: 12vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.characterImage {
  object-fit: contain;
  height: 12vh;
  /* width: vw; */
}