.Scoreboard {
  margin-top: 3vh;
  display: grid;
  gap: 1vh;
}

.title {
  font-size: calc(14px + 1vmin);
}

.boardName {
  font-size: calc(12px + 1vmin);

}

#HighscoresContainer { 
  display: grid;
}
.Labels {
  border-bottom: 1px solid black;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Highscore {
  border-bottom: 1px solid black;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Highscore:nth-child(2n) {
  background-color: #e7e7e7;
}